* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.banner {
    display: flex;
    flex-direction: column;
    .shelves {
        background-image: url('./assets/stand.svg');
        background-size: cover;
        min-width: 300px;
        min-height: 600px;
        padding: 10px;
        .shelf {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
        }
    }   
}

#shelf1{
    height: 150px;
    margin-top: 23px;
}

#shelf2{
    display: flex;
    align-items: center;
    height: 63px;
    margin-top: 75px;
}

#shelf3{
    height: 80px;
    margin-top: 50px;
}

.item {
    width: auto;
    cursor: grab;
}

.cart {
    position: relative;
    display: flex;
    justify-content:center;
    width: 300px;
    height: 200px;
    z-index: 1;
}

#checkoutButton {
    position: absolute;
    margin-top: 720px;
    padding: 12px 18px;
    background-color: #FCE000;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    z-index: 2;
}

#checkoutButton.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}